.welcome {
	background-image: url(umd.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#welcomeindex ul {
  padding: 5px;
  margin: 5px;
  list-style: square;
}

#welcomeindex li {
	margin: 5px;
	list-style: square;
}

#welcomeindex p {
	margin-top: 5px;
}