#container-offset-parent {
	position: relative;
	width: 100%;
	height: 100%;
}

#container-offset-parent #container {
	position: absolute;
	border: 1px inset #EEEEEE; 
	background-color: #F9F9F9;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 25px;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	
	/* IE only allows two of the four positioning parameters to be set; use CSS expression to set the width and height on that browser alone */
	width: expression( '100%' );
	height: expression( (this.offsetParent.offsetHeight - 25) + 'px' );
}

#unicode-range-select {
	position: absolute;
	width: 100%;
	height: 21px;
	bottom: 0px;
	font-size: 13px;
}

#unicode-grid-container {
}

#unicode-grid {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #EEEEEE;
	border-collapse: collapse;
	table-layout: fixed;
	font-family: Arial Unicode MS;
	font-size: 16px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
}

#unicode-grid TR {
	border: 1px solid #EEEEEE;
	height: 24px;
}

#unicode-grid TD {
	border: 1px solid #EEEEEE;
	width: 24px;
	cursor: pointer;
}

.collapsed #container-offset-parent {
	display: none;
}
