.container-offset-parent {
	position: relative;
	width: 100%;
	height: 100%;
}

.container-offset-parent .container {
	position: absolute;
	border: 1px inset #CCCCCC; 
	padding: 4px 4px 4px 4px; 
	background-color: #F9F9F9;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	
	/* IE only allows two of the four positioning parameters to be set; use CSS expression to set the width and height on that browser alone */
	width: expression( '100%' );
	height: expression( '100%' );
}

.section-collapsed {
	padding: 4px 4px 4px 4px; 
	clear: both;	
}

.section-expanded {
	padding: 3px 3px 3px 3px; 
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
	clear: both;	
}

.header {
	padding: 1px 1px 1px 1px; 
	clear: both;	
}

.section-expanded .arrow {
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	width: 16px;
	height: 16px;
	background-image: url(img/ui.lang.collapse.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.section-collapsed .arrow {
	float: left; 
	margin-right: 4px;
	width: 16px;
	height: 16px;
	background-image: url(img/ui.lang.expand.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.title {
	padding-top: 3px;
}

.icon {
	float:left; 
	position: relative; 
	width: 32px; 
	height: 24px;
}

.icon .image {
	position: absolute; 
	left: 0px; 
	top: 0px;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.icon .option {
	position: absolute; 
	left: 10px; 
	top: 5px;
}

#keyboard-icon {
	background-image: url(img/ui.lang.keyboard.png);
	background-repeat: no-repeat;
}

#tool-icon {
	background-image: url(img/ui.lang.tool.png);
	background-repeat: no-repeat;
}

#converter-icon {
	background-image: url(img/ui.lang.converter.png);
	background-repeat: no-repeat;
}

.section-collapsed .contents {
	display: none;
}

.section-expanded .contents {
	border-top: 1px solid #CCCCCC;
	margin-top: 4px;
	margin-left: 0px;
	margin-right: 3px;
	padding-left: 0px;
	padding-top: 2px;
	clear: both;
}

.item {
	padding-top: 4px;
	padding-bottom: 4px;
}

.label {
	cursor: pointer;	
	color: #4444EE;
}

.link {
	cursor: pointer;
	color: #4444EE;
}

.toggle {
	cursor: pointer;	
	color: #4444EE;
}

.indent {
	margin-left: 24px;
}

.collapsed .container {
	display: none;
}
